<clr-main-container>
  <clr-header class="header header-7">
    <div class="branding">
        <a href="home" class="nav-link">
            <clr-icon class="is-solid" shape="heart"></clr-icon>
            <span class="title">{{title}}</span>
        </a>
    </div>
    <div class="header-nav">
        <a href="fun" class="active nav-link"><span class="nav-text">Fun</span></a>
        <a href="practical" class="nav-link"><span class="nav-text">Practical</span></a>
    </div>
    <!-- <div class="header-actions">
        <a href="lol" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div> -->
  </clr-header>
  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
  </div>
</clr-main-container>
