<clr-main-container>
  <clr-header class="header header-cardinal">
    <div class="branding">
        <a href="home" class="nav-link">
            <img class="header-image" src="../assets/cardinal100x100.png" height="48" width="48">
            <span class="title">{{title}}</span>
        </a>
    </div>
    <div class="header-nav">
        <a href="fun" class="active nav-link"><span class="nav-text">Fun</span></a>
        <a href="practical" class="nav-link"><span class="nav-text">Practical</span></a>
    </div>
  </clr-header>
  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
  </div>
</clr-main-container>
