<div class="clr-row">
  <div class="clr-col-sm-6 clr-col-md-3">
    <a href="https://www.youtube.com/watch?v=FcvVPuJVKcs"
       target="_blank" rel="noopener noreferrer"
      class="card clickable">
      <div class="card-block">
        <h3 class="card-title">All of Billy Joel's Hits</h3>
        <div class="card-img"><img src="../../assets/fun/billyjoel.PNG" /></div>
        <p class="card-text">Played at once</p>
      </div>
    </a>
  </div>
  <div class="clr-col-sm-6 clr-col-md-3">
    <a href="https://www.youtube.com/watch?v=ExukCRD7gN0"
       target="_blank" rel="noopener noreferrer"
      class="card clickable">
      <div class="card-block">
        <h3 class="card-title">BBC Animals Talking</h3>
        <div class="card-img"><img src="../../assets/fun/alan.PNG" /></div>
        <p class="card-text">Alan! Alan! Alan!</p>
      </div>
    </a>
  </div>
  <div class="clr-col-sm-6 clr-col-md-3">
    <a href="https://www.youtube.com/watch?v=wusGIl3v044"
       target="_blank" rel="noopener noreferrer"
      class="card clickable">
      <div class="card-block">
        <h3 class="card-title">Gimme Pizza</h3>
        <div class="card-img">
          <img src="../../assets/fun/gimmepizza.PNG" />
        </div>
        <p class="card-text">Call us the queens of gourmet</p>
      </div>
    </a>
  </div>
  <div class="clr-col-sm-6 clr-col-md-3">
    <a href="https://www.youtube.com/channel/UCcMDMoNu66_1Hwi5-MeiQgw"
       target="_blank" rel="noopener noreferrer"
      class="card clickable">
      <div class="card-block">
        <h3 class="card-title">Hydraulic Press</h3>
        <div class="card-img">
          <img src="../../assets/fun/hydraulicpress.PNG" />
        </div>
        <p class="card-text">Oh no clay figurine</p>
      </div>
    </a>
  </div>
  <div class="clr-col-sm-6 clr-col-md-3">
    <a href="https://www.youtube.com/watch?v=1JBzWZq4fXg"
       target="_blank" rel="noopener noreferrer"
       class="card clickable">
       <div class="card-block">
        <h3 class="card-title">Jake E. Lee Shreds</h3>
        <div class="card-img">
          <img src="../../assets/fun/shreds.PNG" />
        </div>
        <p class="card-text">St. Sanders</p>
      </div>
    </a>
  </div>
  <div class="clr-col-sm-6 clr-col-md-3">
    <a href="https://www.youtube.com/watch?v=Z4Y4keqTV6w"
       target="_blank" rel="noopener noreferrer"
      class="card clickable">
      <div class="card-block">
        <h3 class="card-title">Laughing Dad at Comedy Barn</h3>
        <div class="card-img">
          <img src="../../assets/fun/laughingdad.PNG" />
        </div>
        <p class="card-text">Hyuk hyuk hyuk</p>
      </div>
    </a>
  </div>
  <div class="clr-col-sm-6 clr-col-md-3">
    <a href="https://www.youtube.com/watch?v=3dpNS2l7jNs"
       target="_blank" rel="noopener noreferrer"
      class="card clickable">
      <div class="card-block">
        <h3 class="card-title">Laughing Yoga guy</h3>
        <div class="card-img">
          <img src="../../assets/fun/laughingyoga.PNG" />
        </div>
        <p class="card-text">I'm happy, I'm relaxed!</p>
      </div>
    </a>
  </div>
  <div class="clr-col-sm-6 clr-col-md-3">
    <a href="https://www.youtube.com/watch?v=oKI-tD0L18A"
       target="_blank" rel="noopener noreferrer"
      class="card clickable">
      <div class="card-block">
        <h3 class="card-title">Nonono Cat</h3>
        <div class="card-img"><img src="../../assets/fun/nononocat.PNG" /></div>
        <p class="card-text">NO NO NO NO NO nuuhhhh...</p>
      </div>
    </a>
  </div>
  <div class="clr-col-sm-6 clr-col-md-3">
    <a href="https://www.youtube.com/watch?v=7EtI12x5JJ4"
       target="_blank" rel="noopener noreferrer"
      class="card clickable">
      <div class="card-block">
        <h3 class="card-title">Reading Rainbow</h3>
        <div class="card-img">
          <img src="../../assets/fun/readingrainbow.PNG" />
        </div>
        <p class="card-text">There is a monster...</p>
      </div>
    </a>
  </div>
  <div class="clr-col-sm-6 clr-col-md-3">
    <a href="https://www.youtube.com/watch?v=laqLtEEadzc"
       target="_blank" rel="noopener noreferrer"
      class="card clickable">
      <div class="card-block">
        <h3 class="card-title">Subgenius Numa Numa</h3>
        <div class="card-img"><img src="../../assets/fun/subgenius.PNG" /></div>
        <p class="card-text">She won't share the meat</p>
      </div>
    </a>
  </div>
</div>
