<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Nonono Cat</h3>
                <p class="card-text">
                    NO NO NO NO NO nuuhhhh...
                </p>
            </div>
            <div class="card-footer">
                <a href="https://www.youtube.com/watch?v=oKI-tD0L18A" class="btn btn-sm btn-link">Cat</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">BBC Animals Talking</h3>
                <p class="card-text">
                    Alan! Alan! Alan!
                </p>
            </div>
            <div class="card-footer">
                <a href="https://www.youtube.com/watch?v=ExukCRD7gN0" class="btn btn-sm btn-link">Go</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Hydraulic Press Channel</h3>
                <p class="card-text">
                    Ball bearings, clay figurines, and more
                </p>
            </div>
            <div class="card-footer">
                <a href="https://www.youtube.com/channel/UCcMDMoNu66_1Hwi5-MeiQgw" class="btn btn-sm btn-link">Crush stuff</a>
            </div>
        </div>
    </div>
</div>
